<h1>Password Recovery.</h1>
<p>Good {{ greeting }} {{ user.profile.firstName }},</p>
<p>You or somebody else (hopefully you) has informed us that you have forgotten your password</p>
<p>You can reset your password by visiting this link: {{ token }}. This link will expire in 1 hour.</p>
<p>If you did not request your password be reset simply ignore this email</p>
